<div class="add-vocab-form">
    <h2>Edit Vocabulary</h2>
    <form action="/cards/{{vocab._id}}" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
            <label for="word">Word:</label>
            <input type="text" id="word" name="word" value="{{vocab.word}}" required>
        </div>
        <div class="form-group">
            <label for="definition">Definition:</label>
            <textarea type="text" id="definition" name="definition" required>{{vocab.definition}}</textarea>
        </div>
        <div class="form-group">
            <label for="example">Example:</label>
            <textarea type="text" id="example" name="example" required>{{vocab.example}}</textarea>
        </div>
        <button type="submit">Edit Vocabulary</button>
    </form>
</div>